IPython Notebooks and files/train_X
IPython Notebooks and files/test_X
IPython Notebooks and files/dev_X
IPython Notebooks and files/train_Y
IPython Notebooks and files/test_Y
IPython Notebooks and files/dev_Y
IPython Notebooks and files/Data

Model Serving/mysite/parameters