IPython Notebooks and files/train_X
IPython Notebooks and files/test_X
IPython Notebooks and files/dev_X
IPython Notebooks and files/train_Y
IPython Notebooks and files/test_Y
IPython Notebooks and files/dev_Y
IPython Notebooks and files/Data

IPython Notebooks and files/checkpoint
IPython Notebooks and files/model_final.data-00000-of-00001
IPython Notebooks and files/model_final.index
IPython Notebooks and files/model_final.meta
IPython Notebooks and files/model_iter.data-00000-of-00001
IPython Notebooks and files/model_iter.index
IPython Notebooks and files/model_iter.meta
